<!doctype html>
<html>

<head>
<meta charset="utf-8">
<title>OPUS-API</title>
</head>

<body>
<h1>OPUS-API</h1>
<p>Use parameters <code>corpus</code>, <code>source</code>, <code>target</code>, <code>preprocessing</code> and <code>version</code> to search for corpora. Set <code>version</code> to <code>latest</code> to get the latest version. For example: <a href="http://opus.nlpl.eu/opusapi/?corpus=OpenSubtitles&source=en&target=fi&preprocessing=xml&version=latest">http://opus.nlpl.eu/opusapi/?corpus=OpenSubtitles&source=en&target=fi&preprocessing=xml&version=latest</a>
</p>
</body>

</html>
